.input__Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: #faf7f7;
  border-radius: 3px;
  padding: 1em 1em 1em 1em;
}
.input {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8d4040;
  outline: none;
  border: none;
  background: transparent;
}
::placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #b08b8b;
}
