.input__Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: #faf7f7;
  border-radius: 3px;
  padding: 1em 1em 1em 1em;
  .input {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8d4040;
    outline: none;
    border: none;
    background: transparent;
  }
  ::placeholder {
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #b08b8b;
  }
}

////////////////////////@at-root
.task__Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: #faf7f7;
  border-radius: 3px;
  padding: 1em 1em 1em 1em;
  margin: 1em 0em 1em 0;
}
.task {
  color: #8d4040;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background: #d58282;
  border: 1px solid #d58282;
}
.notChecked {
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background: #ffffff;
  border: 1px solid #f9e6e6;
}
